@model PMS.Entities.UserDTO
@{
    ViewBag.Title = "UserProfile";
    Layout = null;
}
@{
    if (WebPrac.Security.SessionManager.User == null)
    {
        Response.Redirect(Url.Action("Login", "User"));
    }
}
<link href="~/Content/Styles.css" rel="stylesheet" type="text/css" />

@*

<div class="item1">
    <form action="/User/Save" method="post" enctype="multipart/form-data">

        <h1>UserProfile</h1>
       
        <img src="~/UploadedFiles/@Model.PictureName" alt="" width="75" height="75" />
        <input type="hidden" name="UserID" value=@Model.UserID>
       <br><br><b> Name:</b>
        @Model.Name<br><br>
       <b> Login:</b>
        @Model.Login<br><br>
        <b>Email:</b>
        @Model.Email<br><br>
        
       
    </form>
</div>
*@
<body>
    <div class="login-card">
        <h1>User Profile</h1><br>
        
            <img src="~/UploadedFiles/@Model.PictureName" alt="" width="75" height="75" />
            <input type="hidden" name="UserID" value=@Model.UserID>
            <br><br><b> Name:</b>
            @Model.Name<br><br>
            <b>Email:</b>
            @Model.Email<br><br>
       

    </div>
</body>